$main-font-size:  16;


$p-tag-font-size: 16 / $main-font-size * 1rem;

$h1-tag-font-size: 32 / $main-font-size * 1rem;
$h2-tag-font-size: 24 / $main-font-size * 1rem;
$h3-tag-font-size: 18.72 / $main-font-size * 1rem;

$menu-a-tag-font-size: 20 / $main-font-size * 1rem;
$teaser-text-font-size: 30 / $main-font-size * 1rem;
$teaser-icon-font-size: 60 / $main-font-size * 1rem;
