body {
  margin: 0;
  background-color: $color-background-grey;
}

.main-content {
  margin-top: 80px;

  .container {
    background-color: $color-background-light-grey;
  }
}

.header-image img {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}

.content {
  padding: 30px 60px;
}

@media (min-width: $screen-md) {
  .main-content {
    margin-top: 100px;
  }
}