.carousel-caption {
  display: none;
  background-color: $color-light-green;
  opacity: 0.8;
  color: $color-black;
  padding: 0 10px;
  bottom: 50px;
  left: 10%;
  right: 10%;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-image {
  display: block;
}

@media (min-width: $screen-md) {
  .carousel-caption {
    display: block;
  }
}