footer {
  background-color: $color-footer-green;
  border-top: 1px solid $color-background-grey;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: $color-background-light-grey;

  &:hover {
    color: $color-corporate-orange;

  }
}

.container-footer {
  padding: 0;
}

.footer-address,
.footer-tel {
  color: $color-background-light-grey;
  text-align: center;
  padding-bottom: 10px;
}

