header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: $color-background-light-grey;
  border-bottom: 1px solid $color-background-grey;
}

.header-image {
  padding: 0;
}

.logo-link {
  display: inline-block;
  float: left;
}

.container-header {
  text-align: right;
  padding-right: 0;
  position: relative;
  background-color: $color-background-light-grey;
}

.biesel-logo {
  display: inline-block;
  padding: 19px 0;
  float: left;
}


@media (min-width: $screen-md) {
  .biesel-logo {
    padding: 29px 0;

    @include transition($header-transition-duration ease-in-out padding);
  }


  header.scrolled .biesel-logo {
    padding: 19px 0;

    @include transition($header-transition-duration ease-in-out padding);
  }
}