.menu {
  position: absolute;
  top: -241px;
  right: 0;
  background-color: $color-background-light-grey;
  width: 100%;
  z-index: -1;
  @include transition($menu-transition-duration ease-out top);


  ul {
    padding: 0;
    margin: 0;
  }

  a {
    padding: 26px 50px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  }

  li, a {
    display: block;
  }

  li {
    border-bottom: 1px solid $color-background-grey;
  }
}

.menu-btn {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
}

.menu-btn--divider {
  border-bottom: 3px solid $color-black;
  padding: 6px 0;
}

.menu.open {
  top: 80px;
  @include transition($menu-transition-duration ease-out top);
}


@media (min-width: $screen-md) {
  .menu {
    position: static;

    li {
      display: inline-block;
      border: none;
    }

    a:hover {
      background-color: $color-background-grey;
    }
  }

  .menu-btn {
    display: none;
  }


  .menu a {
    padding: 36px 50px;

    @include transition($header-transition-duration ease-out padding);
  }

  header.scrolled .menu a {
    padding: 26px 50px;

    @include transition($header-transition-duration ease-out padding);
  }
}
