$fa-font-path: '../Fonts';


@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
  url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
  url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
  url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
  url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  //  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

body,html  {
  font-size: 100%;
}

p, a {
  font-size: 16px;
  font-size: $p-tag-font-size;
}

h1 {
  font-size: 32px;
  font-size: $h1-tag-font-size;
}

h2 {
  font-size: 24px;
  font-size: $h2-tag-font-size;
}

h3 {
  font-size: 19px;
  font-size: $h3-tag-font-size;
}

.far {
  font-family: FontAwesome;
  font-style: normal;
  padding-right: 5px;
  font-size: 16px;
  font-size: $p-tag-font-size;
}

.fa-envelope {
  content: $fa-var-envelope-o;
}

.fa-phone {
  content: $fa-var-phone;
}

.fa-phone {
  content: $fa-var-location-arrow;
}

.fa-map-marker {
  content: $fa-var-map-marker;
}