* {
  font-family: noto sans;
}

p {
  margin: 6px 0
}

a {
  color: $color-corporate-orange;

  &:hover {
    color: $color-footer-green;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}